.container {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/bcgNouveau.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #181818d3;
  background-blend-mode: darken;
}
.spacer {
  height: 50px;
  width: 100%;
}
.spacerFooter {
  width: 100%;
  height: 35px;
}