.logo {
  margin: 1rem;
  margin-top: 2rem;
  width: 70%;
  height: 140px;
  border-radius: 23px;
  box-shadow: 3px 3px 5px #00000015;
  border-radius: 70px;
  outline: 2px solid var(--beige);
  box-shadow: 3px 3px 11px var(--beige-shadow);
}
.aboutHead {
  text-indent: 2rem;
  font-family: journal;
  text-align: center;
  font-size: 3.7rem;
  line-height: 1;
  padding: 1rem 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.para {
  font-size: 1.4rem;
  text-indent: 2rem;
  padding: 0.7rem 3.5rem;
}
.glass {
  width: 30%;
  height: auto;
  margin: 2rem;
  margin-bottom: 2.5rem;
  filter: contrast(110%);
}