.logo {
  margin-bottom: 0.3rem;
  margin-top: 2rem;
  width: 230px;
  height: auto;
}
.aboutHead {
  text-indent: 2rem;
  font-family: aksItalic;
  text-align: center;
  font-size: 3.7rem;
  line-height: 1;
  padding: 1rem 2.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
}
.para {
  font-family: aks;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  line-height: 1.2;
  text-indent: 2rem;
  padding: 0.7rem 3.5rem;
  text-align: center;
}
.glass {
  width: 30%;
  height: auto;
  margin: 2rem;
  margin-bottom: 2.5rem;
  filter: contrast(115%);
}