.a {
  color: #00000000;
  font-family: poppins;
  font-size: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
}
.b {
  color: #00000000;
  font-family: dechora;
  font-size: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
}
.c {
  color: #00000000;
  font-family: journal;
  font-size: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
}
.d {
  color: #00000000;
  font-family: aks;
  font-size: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
}
.e {
  color: #00000000;
  font-family: aksItalic;
  font-size: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
}