.logo {
  margin-top: 20px;
  width: 100%;
  height: 270px;
  background-image: url(../../assets/img/ho-logo.jpg);
  background-position: center 43%;
  background-size: 40%;
  background-repeat: no-repeat;
  border-radius: 500px;
}
.aboutHead {
  text-indent: 3rem;
  font-family: journal;
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin: 3rem 12rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.para {
  font-size: 1.6rem;
  text-indent: 5rem;
  padding: 0.7rem 10rem;
}
.glass {
  width: 30%;
  height: auto;
  margin: 2rem;
  margin-bottom: 2.5rem;
  filter: contrast(110%);
}