@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: dechora;
  src: url(./assets/fonts/dechora-zone.ttf);
}
@font-face {
  font-family: journal;
  src: url(./assets/fonts/journal.ttf);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  --red: #aa3633;
  --beige: #bd9a73;
  --beige-shadow: #836c528c;
  --bcgcol: #2c2d2d;
  --bcgcol2: #422f2f;
  --textcol: #fffeff;
  --dark: #1b1b1b;
  --invis: #00000000;
}
html {
  font-size: 10px;
}

a {
  font-weight: 500;
  color: var(--red);
  text-decoration: none;
}
a:hover {
  color: var(--red);
  text-decoration: underline;
}
button:hover {
  cursor: pointer;
}

.flexCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
}
.leaflet-popup-content {
  font-family: dechora, sans-serif;  /* Change font */
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.8rem;  /* Adjust font size */
  color: #000000;  /* Text color */
}
